doctype html
html(style='overflow-y:scroll', manifest="/ibn.appcache")
    block vars
        - var activeTab = ''
    block customVars
        - var appName = ''
        - var ngApp = ''
    head
        title #{appName}
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='shortcut icon' type='image/png' href='/images/bn.png')
        link(rel='stylesheet', href='/scripts/css/bootstrap.min.css')
        script(src='/scripts/jquery.js')
        script(src='/scripts/js/bootstrap.min.js')
        script(src='/scripts/angular.min.js')
        script(src='/scripts/angular-cookies.min.js')

        script(src='/polyfill.js')

        script(src='/appModule.js')
        block scripts

    body(data-ng-app='#{ngApp}')
        div(class='jumbotron text-center', style='padding-bottom:0')
            h1 #{appName}
            div(class='container')
                ul(class='nav nav-tabs')
                    li(class=(activeTab === 'sensors' ? 'active' : ''))
                        a(href='/sensors') Sensors
                    li(class=(activeTab === 'settings' ? 'active' : ''))
                        a(href='/settings') Settings
        div(class='container')
            block content
