include components/sensorsList
extends layout

block vars
    - var activeTab = 'sensors'

block content
    div(data-ng-controller='sensors')
        div#map
        script.
            function initMapXX() {
                var uluru = {lat: -25.363, lng: 131.044};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
                console.log('Map initialized')
            }

        script(async, defer, ng-src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7hQ85LSM_AQzXrUZprQkbZAaX6qJc-dQ&libraries=visualization&callback=initMap")
