include components/sensorsList
extends layout

block vars
    - var activeTab = 'sensors'

block content
    div(data-ng-controller='sensors')
        div(ng-show='!dataLoaded')
            h2 Loading data...
        div(ng-cloak, ng-show='dataLoaded')
            div#map
            br
            div(class='panel panel-default')
                div(class='panel-body')
                    span
                        h3 The Worst Locations
                    table(class='table table-striped')
                        tr
                            th devEUI
                            th Quality
                            th Temperature
                            th Humidity
                        tr(ng-repeat='item in worst')
                            td {{item.devEUI}}
                            td {{item.quality}}
                            td {{item.temperature / 10}}°C
                            td {{item.humidity / 10}}%


        script(async, defer, ng-src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7hQ85LSM_AQzXrUZprQkbZAaX6qJc-dQ&libraries=visualization&callback=initMap")
