include components/sensorsList
extends layout

block vars
    - var activeTab = 'sensors'

block content
    div(data-ng-controller='sensors')
        div(ng-show='!dataLoaded')
            h2 Loading data...
        div(ng-cloak, ng-show='dataLoaded')
            div#map
            br
            div(class='panel panel-default')
                div(class='panel-body')
                    span
                        h3 Worst sensors
                    table(class='table table-striped')
                        tr
                            th devEUI
                            th Quality
                            th Temperature
                            th Humidity
                        tr(ng-repeat='item in worst')
                            td {{item.devEUI}}
                            td {{item.quality}}
                            td {{item.temperature}}
                            td {{item.humidity}}
        script.
            function initMapXX() {
                var uluru = {lat: -25.363, lng: 131.044};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
                console.log('Map initialized')
            }

        script(async, defer, ng-src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7hQ85LSM_AQzXrUZprQkbZAaX6qJc-dQ&libraries=visualization&callback=initMap")
