extends layout

block vars
    - var activeTab = 'settings'

block content
    div(data-ng-controller='settings', class='panel panel-group')
        div(class='panel panel-default')
            div(class='panel-heading')
                h2 Air Quality Detectors
                button(type='button', class='btn btn-link', data-ng-click="selectItem(key, item)", data-toggle='modal', data-target='#change') Add
            div(class='panel-body table-responsive')
                table(class='table table-striped')
                    thead
                        tr
                            th EUI
                            th Latitude
                            th Longitude
                            th
                    tbody
                        tr(data-ng-repeat='(key, item) in items')
                            td {{key}}
                            td {{item.latitude}}
                            td {{item.longitude}}
                            td
                                button(type='button', class='btn btn-link btn-xs', data-ng-click="selectItem(key, item)", data-toggle='modal', data-target='#change') Edit

        div(class='modal fade', id='delete', role='dialog')

        div(class='modal fade', id='change', role='dialog')
            div(class='modal-dialog')
                div(class='modal-content')
                    div(class='modal-header')
                        button(type='button', class='close', data-dismiss='modal') &times
                        h3 Detector Settings
                    div(class='modal-body')
                        div(class='form-horizontal')
                            div(class='form-group')
                                label(class='control-label col-xs-4', for='eui') Detector EUI:
                                div(class='col-xs-8')
                                    input(type='text', class='form-control', id='eui', ng-model='selectedItem.key')
                            div(class='form-group')
                                label(class='control-label col-xs-4', for='latitude') Latitude:
                                div(class='col-xs-8')
                                    input(type='text', class='form-control', id='latitude', ng-model='selectedItem.latitude')
                            div(class='form-group')
                                label(class='control-label col-xs-4', for='longitude') Longitude:
                                div(class='col-xs-8')
                                    input(type='text', class='form-control', id='longitude', ng-model='selectedItem.longitude')
                    div(class='modal-footer')
                        button(type='button', class='btn btn-primary pull-left', data-ng-click='setLocation()') Discover Location
                        button(type='button', class='btn btn-primary', data-dismiss='modal', data-ng-click='saveSettings()') Save
                        button(type='button', class='btn btn-default', data-dismiss='modal') Close
